.container {
    display: flex;
    justify-content: center;
}

h1 {
    width: 100%;
    font-size: 200%;
    text-align: center;
}

.content {
    margin: 2%;
    font-size: 130%;
    display: flex;
}

.half {
    width: 50%;
}